.navbar {
  background-color: #6a0dad; 
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 20px 10px;
  font-family: 'Poppins', sans-serif;
}

.logo img {
  width: 120px;
  height: 120;
}

.links {
  display: flex;
  align-items: center;
  gap: 80px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: 0.3s;
}







.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 560px; 
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.home h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 40px;
  text-align: center;
}

.start button {
  background-color: #6a0dad; 
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 12px 40px;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  transition: 0.3s;
}

.start button:hover {
  background-color: #7b1dd1; 
  transition: 0.3s;
}
.footer{
  background-color: #6a0dad; 
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 20px 10px;
  font-family: 'Poppins', sans-serif;
}




