@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+CU:wght@100..400&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'exo 2' ;
  font-size: 20px;
}
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  background: #B64FD7;
  height: 85px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 5px 200px 0 40px;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-top: 15px;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  gap: 80px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}

/*home*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 793px; 
  background-image: url(/public/image_Quiz.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home h1 {
  font-size: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 40px;
  text-align: center;
}

.start button {
  background-color: #B64FD7; 
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 12px 40px;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  transition: 0.3s;
}

.start button:hover {
  background-color: #7b1dd1; 
  transition: 0.3s;
}

/*footer*/
.footer{
  background-color: #B64FD7;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px 750px 10px 50px;
  height: 60px;
}
.footer .logo-footer img{
  
  width: 140px;
  margin-top: 15px;
  cursor: pointer;
}

.footer-p{
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}


