@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+CU:wght@100..400&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'exo 2' ;
  font-size: 20px;
}
.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  background: #B64FD7;
  height: 85px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: fixed;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-top: 15px;
  cursor: pointer;
}

.links {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-right: 80px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  transition: 0.3s;
}

/*home*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  background-image: url(/public/image_Quiz.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home h1 {
  font-size: 40px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 40px;
  text-align: center;
}

.start button {
  background-color: #B64FD7; 
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding: 12px 40px;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  transition: 0.3s;
}

.start button:hover {
  background-color: #7b1dd1; 
  transition: 0.3s;
}

/*footer*/
.footer{
  background-color: #B64FD7;
  color: white;
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  gap: 15px;
  bottom: 0;
  position: fixed;
  height: 60px;
  width: 100%;

}


.footer-p{
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

/* Quiz*/
.quiz {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 600px;
  padding: 50px 70px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center; 
  
}

.quiz-box h1 {
  font-size: 30px;
  color: #333;
}
.option{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.quiz-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #B64FD7; 
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

.quiz-box button:hover {
  background-color: #7b1dd1;
}

.quiz-box button:active {
  transform: scale(0.97);
}

/*Result*/

.result{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.result button{
  background-color: #B64FD7; 
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 12px 40px;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
  transition: 0.3s;
}
.result-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 600px;
  padding: 50px 70px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  text-align: center; 
}
